
 BODY, SELECT {
         FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
         FONT-SIZE: 11px;
         COLOR: #000000;
         border : 0px;
         background-color : white;
         margin : 0px;
 }
 P {
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        FONT-SIZE: 11px;
        MARGIN-LEFT: 10;
   }

 P.menu {
	MARGIN-LEFT: 0;
	MARGIN-RIGHT: 0;
	MARGIN-BOTTOM: 0;
	MARGIN-TOP: 1;
 }

 P.disclaimer {
      FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
      MARGIN-LEFT: 10;
	FONT-SIZE: 9px;
 }
   
   
 ul {
    list-style-image: url("../images/iiop_bullet.gif");
    list-style-type: square;
 }

 
 A.contactLink:link { 
	Font-Size: 10px; 
	COLOR: #000000;
 }
 A.contactLink:hover {
	COLOR: #000000;
	Font-Size: 10px; 
 }
 A.contactLink:visited {
	COLOR: #000000;
	Font-Size: 10px; 
 }

 A.textLink:link { 
	Font-Size: 11px; 
	COLOR: #000000;
 }
 A.textLink:hover {
	COLOR: #000000;
	Font-Size: 11px; 
 }
 A.textLink:visited {
	COLOR: #000000;
	Font-Size: 11px; 
 }
 
 A.menuLink:link { 
	FONT-FAMILY: Verdana
 	Font-Size: 10px;
 	COLOR: #CC3300;
 	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
 }
 A.menuLink:hover {
	COLOR: #DD4400;
	FONT-FAMILY: Verdana
 	Font-Size: 10px;
 	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
 }
 A.menuLink:visited {
 	COLOR: #CC3300;
	FONT-FAMILY: Verdana
 	Font-Size: 10px;
 	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
 }


 A.bottomMenuLink:link {
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	COLOR: #666633;
 	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
 }
 A.bottomMenuLink:hover {
	COLOR: #777744;
	FONT-FAMILY: Verdana
 	Font-Size: 10px;
 	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
 }
 A.bottomMenuLink:visited {
	COLOR: #666633;
	FONT-FAMILY: Verdana
 	Font-Size: 10px;
 	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
 }
 
 A:link {COLOR: #000000}
 A:hover {COLOR: #CC3300}
 A:visited {COLOR: #CC3300}

 .BodyText {
         COLOR: #000000;
         FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;;
         FONT-SIZE: 11px
 }

 TD {
         COLOR: #000000;
         FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
         FONT-SIZE: 11px;
         VERTICAL-ALIGN: top
 }

 TD.menu {
	COLOR: #CC3300;
      FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
      FONT-SIZE: 10px;
      FONT-WEIGHT: bold;
      VERTICAL-ALIGN: top;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
      border-color: #CC3300;
 }

 TD.bottomMenu {
	COLOR: #999966;
      FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
      FONT-SIZE: 10px;
      FONT-WEIGHT: bold;
	border-style: none;
 }

 


 H1 {
         COLOR: #000000;
         FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
         FONT-SIZE: 11px;
         FONT-WEIGHT: bold}

 H2 {
         COLOR: #000000;
         FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
         FONT-SIZE: 11px;
         FONT-WEIGHT: bold
 }
 

 H2.ABOUT {
    BACKGROUND-COLOR: #666633;
    PADDING: 4 4 4 4;
    COLOR: white;
    TEXT-TRANSFORM: uppercase;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
 }
 
  H2.CONTENTPART {
 	BACKGROUND-COLOR: #999966;
 	PADDING: 4 4 4 4;
 	COLOR: white;
 	TEXT-TRANSFORM: uppercase;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold 	
 }



 H3 {
         COLOR: #000000;
         FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
         FONT-SIZE: 11px;
         FONT-WEIGHT: bold}

 H4 {
         COLOR: #000000;
         FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
         FONT-SIZE: 11px;
         FONT-WEIGHT: bold}






  