<H2 class="contentPart">Getting started</H2>

<p/>
This Tutorial shows you how to setup your system for the following tutorials.
<BR>
All Tutorials assumes that you are familiar with CORBA, .NET Remoting and RMI/IIOP.

<p/>
<b>Requirements</b>
<BR><BR>
To do the tutorials you need
<UL>
<LI>.NET Framework</LI>
<LI>JDK 1.4</LI>
<LI>IIOP.NET Channel</LI>
</UL>

<p/>

<b>Building the channel</b>
<BR>
<BR>
If you are using the source distribution of IIOP.NET, you need to build the channel first.

<BR>
For this task a Makefile is provided. Simple run <code>nmake</code> in the IIOP.NET directory.