<H2 class="contentPart">Accessing a RMI/IIOP-based CORBA object with .NET remoting</H2>

<p/>
In this tutorial a .NET remoting client calls a method on a RMI/IIOP-based CORBA object: an adder.
This RMI/IIOP adder provides a method to add two double summands.

<p>
This tutorial consists of the following three steps:
<OL>
<LI>Implementing the server</LI>
<LI>Implementing the client</LI>
<LI>Running the Demo</LI>
</OL>

<p/>
<b>Implementing the RMI/IIOP server</b>
<BR><BR>

In this section the RMI/IIOP adder is implemented. The following source files are created:
<UL>
<LI>Adder.java: contains the adder interface</LI>
<LI>AdderImpl.java: contains the adder implementation</LI>
<LI>AdderServer.java: contains code for publishing the adder object</LI>
</UL>

<p>
The Adder interface specifies the interface of the remote adder object:

<pre>

    package Tutorial.GettingStarted;

    import java.rmi.Remote;
    import java.rmi.RemoteException;

    public interface Adder extends Remote {
    
        public double add(double arg1, double arg2) throws RemoteException;
    
    }

</pre>
<p/>


The AdderImpl class implements the adder functionality:
<pre>

    package Tutorial.GettingStarted;

    import java.rmi.Remote;
    import java.rmi.RemoteException;
    import javax.rmi.PortableRemoteObject;

    public class AdderImpl extends PortableRemoteObject implements Adder {

        public AdderImpl() throws java.rmi.RemoteException {
            super();     // invoke rmi linking and remote object initialization
        }

        public double add(double arg1, double arg2) throws RemoteException {
            return arg1 + arg2;
        }

    }
</pre>
<p/>

Every remotable RMI/IIOP object must implement an interface extending <code>java.rmi.Remote</code>. Therefore the adder implementation class
implements the Adder interface.
<BR>
The AdderImpl class implements the adder functionality in the add method. <BR>

<p>
The AdderServer class creates an adder object and publishes it with a CORBA naming service:
<pre>

    import javax.naming.InitialContext; 
    import javax.naming.Context; 
    import javax.rmi.PortableRemoteObject;
    import Tutorial.GettingStarted.Adder;
    import Tutorial.GettingStarted.AdderImpl;


    public class AdderServer { 

        public static void main(String[] args) { 
            try {
                
                // Instantiate the service
                AdderImpl adder = new AdderImpl();

                // publish the reference with the naming service:
                Context initialNamingContext = new InitialContext();
                initialNamingContext.rebind("adder", adder);

                System.out.println("Server Ready...");

            } catch (Exception e) { 
                System.out.println("Trouble: " + e); e.printStackTrace(); 
            } 
        } 
    }
</pre>

<p>
The files can be found here:
<UL>
<LI><A target="_blank" href="Tutorial/GettingStartedDemo/Part2/Tutorial/GettingStarted/Adder.java">Adder.java</A></LI>
<LI><A target="_blank" href="Tutorial/GettingStartedDemo/Part2/Tutorial/GettingStarted/AdderImpl.java">AdderImpl.java</A></LI>
<LI><A target="_blank" href="Tutorial/GettingStartedDemo/Part2/AdderServer.java">AdderServer.java</A></LI>
</UL>



<p><b>Compiling</b><BR><BR>
The files are compiled in the following way:<BR>

<UL>
<LI><code>javac -classpath . AdderServer.java</code></LI>
<LI><code>rmic -classpath . -iiop Tutorial.GettingStarted.AdderImpl</code></LI>
</UL>


<p/>
<b>Implementing the .NET Remoting Client</b>

<p><b>Creating IDL for java types</b><BR><BR>
Before creating the .NET client, the java types must be mapped to IDL. This mapping is done using the rmic tool:<BR>
<code>rmic -idl Tutorial.GettingStarted.AdderImpl</code>

<BR>
The following interface represents the java types Adder and AdderImpl in OMG ILD:
<pre>
    module Tutorial {
        module GettingStarted {

            interface Adder {
    
                double add(
                    in double arg0,
                    in double arg1 );
     
            };

            #pragma ID Adder "RMI:Tutorial.GettingStarted.Adder:0000000000000000"

        };
    };
</pre>

<p><b>Mapping IDL to CLS</b><BR><BR>
In the next step the IDL is mapped to CLS using the IDL to CLS compiler (according to the <A href="documentation.html">IDL -> CLS
mapping specification</A>).

The following CLS type is generated for the above IDL:

<pre>

using Ch.Elca.Iiop.Idl;

namespace Tutorial.GettingStarted {

    [RepositoryIDAttribute("RMI:Tutorial.GettingStarted.Adder:0000000000000000")]
    [InterfaceTypeAttribute(IdlTypeInterface.ConcreteInterface)]
    public interface Adder : IIdlEntity {
        double add(double sum1, double sum2);
    }

}
</pre>

<p/>
Launch the following command in the java sources directory to generate the CLS for the IDL in the .NET source directory N_SOURCES: <BR>
<code>IDLToCLSCompiler.exe -o N_SOURCES\bin adder Tutorial\GettingStarted\Adder.idl</code>. <BR>
This creates a CLS multi module assembly containing the CLS types for the IDL.


<p><b>Client code</b><br><br>
Now we are ready to implement the client. The following listing shows the important parts of the implementation:
<pre>
using System;
using System.Runtime.Remoting.Channels;
using Ch.Elca.Iiop;
using Ch.Elca.Iiop.Services;
using omg.org.CosNaming;

namespace Tutorial.GettingStarted {

    public class NClient {

        [STAThread]
        public static void Main(string[] args) {
	    try {
                string nameServiceHost = "localhost";
                int nameServicePort = 1050;

                double sum1 = Double.Parse(Console.ReadLine());
                double sum2 = Double.Parse(Console.ReadLine());
			
                // register the channel
                IiopClientChannel channel = new IiopClientChannel();
                ChannelServices.RegisterChannel(channel);

                // access COS nameing service
                CorbaInit init = CorbaInit.GetInit();
                NamingContext nameService = init.GetNameService(nameServiceHost, nameServicePort);
                NameComponent[] name = new NameComponent[] { new NameComponent("adder", "") };
                // get the reference to the adder
                Adder adder = (Adder)nameService.resolve(name);
                // call add
                double result = adder.add(sum1, sum2);
                Console.WriteLine("result: " + result);
	    } catch (Exception e) {
                Console.WriteLine("exception: " + e);
	    }
        }

    }
}
</pre>

<p>
A client must register the IIOP.NET channel with the .NET remoting framework before it can access CORBA objects.
After the channel registration, a reference to the CORBA nameing service, knowing the adder object, is retrieved.
Afterwards the client looks up the adder at the name service. Finally it uses the adder to add sum1 and sum2.
<BR> <BR>
The NClient.cs file can be downloaded from <A target="_blank" href="Tutorial/GettingStartedDemo/Part2/NClient.cs">here</A>.

<p><b>Compiling</b><BR><BR>
The client is compiled with the following steps:
<UL>
<LI>copy the IIOPChannel.dll into the bin directory</LI>
<LI>run the following command in the source directory N_SOURCES: <BR> 
    <code>csc /r:bin\Adder.dll /r:bin\IIOPChannel.dll /out:bin\NClient.exe NClient.cs</code></LI>
</UL>

<p/>
<b>Running the Demo</b>
<BR><BR>

The server must be started first. This is done by the following steps:
<UL>
<LI><code>start orbd -ORBInitialPort 1050</code></LI>
<LI>
<code>
java -Djava.naming.factory.initial=com.sun.jndi.cosnaming.CNCtxFactory<BR>
     -Djava.naming.provider.url=iiop://localhost:1050 <BR>
     -cp . <BR>
     AdderServer
</code></LI>
</UL>

<p/>
The client is afterwards started with the follwoing command line:
<BR>
<code>
NClient.exe localhost 1050
</code>