<H2 class="contentPart">Custom mapping plugin mechanism</H2>

<p/>
This tutorial explains the custom mapping plugin mechanism in IIOP.NET.

<p/>

<b>Purpose</b>
<BR> <BR>
The custom mapping plugin mechanism allows to specify a different mapping between a CLS type and
an IDL type. <BR>
This mechanism is most useful in connection with CORBA value types.
If an implementation of the value type already exists on both platforms connected via CORBA,
this mapping mechanism can map them on each other. 
<BR> <BR>
Example
<BR> <BR>
An implementation of an ArrayList exists both in java and in the .NET base class library. 
Using this custom mapping mechanism, java.util.ArrayList is mapped to System.Collections.ArrayList and
vice versa.

<p/>
<b>Using the mapping plugin mechanism</b>
<BR><BR>
This section describes, how to set up a custom mapping. <BR>
Setting up such a mapping is slighty different for a .NET client and for a .NET server, because
in the first case, the IIOPChannel and the IDL to CLS compiler must be configured and in the second case, 
the IIOPChannel and the CLS to IDL generator must be configured.

<p/>
<a name="clientMap"></a>
<b>Setting up a mapping for a .NET client</b>
<BR> <BR>
Setting up such a mapping requires the following steps:
<OL>
<LI>Create a custom mapping configuration file</LI>
<LI>Install mapping in the application</LI>
<LI>Implement needed <code>InstanceMapper</code>'s.</LI>
<LI>implement CORBA value types</LI>
<LI>Use mapping file with compiler</LI>
</OL><p/>

Create a custom mapping configuration file
<BR><BR>
This mapping configuration file describes the custom mapping for the IIOPChannel and 
the IDL to CLS compiler.
For convenience reasons, the same file can be used to configure the channel and the compiler.
<BR><BR>
This file contains a set of mapping descriptions of the following form:

<pre>
    &lt;mapping&gt;
      &lt;idlTypeName&gt;type name&lt;idlTypeName&gt;
      &lt;idlTypeAssembly&gt;assembly name&lt;idlTypeAssembly&gt;
      &lt;clsType&gt;assembly qualified type name&lt;clsType&gt;
      &lt;customMapper&gt;assembly qualified type name&lt;customMapper&gt;
    &lt;mapping&gt;
</pre>
<p/>

The idlTypeName and the idlTypeAssembly entries specify, which type in which assembly 
represents the IDL type (in CLS) to which / from which should be mapped.
<BR>
The clsType entry specifies the CLS type to which / from which should be mapped.
<BR>
The optional customMapper part describes, which type maps instances from the IDL type
to instances of the CLS type and vice versa.

<BR><BR>
Hint: The following XML schema's describes the format of this configuration file: <BR>
<code>%IIOPNet%\IIOPChannel\MappingPluginSchema.xsd</code> and
<code>%IDLToCLSCompiler%\IDLCompiler\MappingPluginSchema.xsd</code>

<BR><BR>
Example:
<pre>
    &lt;?xml version='1.0'?&gt;
    &lt;mappings&gt;

        &lt;mapping&gt;
            &lt;idlTypeName&gt;java.util.ArrayList&lt;idlTypeName&gt;
            &lt;idlTypeAssembly&gt;javaCollections&lt;idlTypeAssembly&gt;
            &lt;clsType&gt;System.Collections.ArrayList,mscorlib&lt;clsType&gt;
            &lt;customMapper&gt;
            Ch.Elca.Iiop.JavaCollectionMappers.ArrayListMapper,customCollectionMappings
            &lt;customMapper&gt;
        &lt;mapping&gt;
    
    &lt;mappings&gt;
</pre>
<p/>

Install mapping in the application
<BR><BR>

To take effect, the mapping must be installed with the IIOPChannel in the application.
The singleton <code>CustomMapperRegistry</code> allows to install a custom mapping
from a file:
<pre>
    CustomMapperRegistry reg = CustomMapperRegistry.GetSingleton();
    reg.AddMappingsFromFile(new FileInfo(fileName));
</pre>
<p/>

Implement needed <code>InstanceMapper</code>'s.
<BR><BR>
If instantiable types are mapped to each other, <code>InstanceMapper's</code> are needed
to map instances of one type to instances of the other type.
<BR>
During deserialisation, an instance of the CLS type representing the IDL type is created.
This instance must be mapped to the target CLS type with an instance mapper.
Just before serialisation, the instance of the CLS type must be mapped to an instance 
of the CLS type representing the IDL type.
<BR>
The custom mapping plugin does this instance mapping with the help of a class implementing the
<code>ICustomMapper</code> interface.

This interfaces is defined as follows:

<pre> 
    public interface ICustomMapper {
         object CreateIdlForClsInstance(object clsObject);
         object CreateClsForIdlInstance(object idlObject);
     }
</pre>
<p/>
The CreateIdlForClsInstance method takes a CLS instance, and returns an instance of the
CLS type representing the IDL type. <BR>
The CreateClsForIdlInstance method takes an instance of the CLS type representing the IDL type,
and returns an instance of the CLS type.
<BR><BR>
The implementation of the instance mapper for the <code>ArrayList</code> example can be found in 
<code>%IIOPNet%\MappingPlugin\java\InstanceMappers.cs</code>.

<BR><BR>
Implement CORBA value types
<BR><BR>
If the IDL type in the custom mapping is a CORBA value type, this CORBA value type 
must be implemented in CLS.
This implementation is needed to support serialisation / deserialisation. <BR>
Hint: For the mehtods, if present, only a dummy implementation is needed.
<BR><BR>
The implementation for the <code>ArrayList</code> example can be found in 
<code>%IIOPNet%\MappingPlugin\java\CollectionsImpl.cs</code>.

<BR><BR>
Use mapping file with compiler
<BR><BR>
The IDL to CLS compiler needs to replace the IDL type in the custom mapping with the target CLS type
in method parameters, properties and fields.<BR>
The information, needed to accomplish this, is given to the compiler with the <code>-c</code> option:
<BR>
<code>IDLToCLSCompiler.exe -c mappingFile</code>

<p/>
Complete Example:
<BR><BR>
A complete example can be found in:<BR>
<code>%IIOPNet%\IntegrationTests\MappingPluginJava</code>.

<p/>
<b>Setting up a mapping for a .NET server</b>
<BR> <BR>
Setting up such a mapping requires the following steps:
<OL>
<LI>Create a custom mapping configuration file for the IIOPChannel</LI>
<LI>Create a custom mapping configuration file for the CLS to IDL generator</LI>
<LI>Install the mapping in the application</LI>
<LI>Implement needed <code>InstanceMapper</code>'s.</LI>
<LI>implement CORBA value types</LI>
<LI>Use mapping file with generator</LI>
</OL><p/>

Steps 1, 3, 4 and 5 doesn't differ from setting up a mapping for a .NET client. For more information see section
<a href="#clientMap">setting up a mapping for a .NET client</a>.
<BR> <BR>
Create a customMapping configuration file for the CLS to IDL generator
<BR><BR>
This mapping configuration file describes the custom mapping for the CLS to IDL
generator.

<BR><BR>
This file contains a set of mapping descriptions of the following form:

<pre>
    &lt;mapping&gt;
        &lt;clsType&gt;assembly qualifies type name&lt;clsType&gt;
        &lt;idlTypeName&gt;type name&lt;idlTypeName&gt;
        &lt;idlTypeAssembly&gt;assembly name;idlTypeAssembly&gt;
        &lt;idlFile&gt;(relative) path to idl file&lt;idlFile&gt;
    &lt;mapping&gt;
</pre>
<p/>

The clsType entry specifies the CLS type to which / from which should be mapped.
<BR>
The idlTypeName and the idlTypeAssembly entries specify, which type in which assembly 
represents the idltype (in CLS) to which / from which should be mapped.
<BR>
The idlFile specifies the location of the IDL file containing the IDL definition
of the target IDL type.

<BR><BR>
Hint: The following XML schema describes the format of this configuration file: <BR>
<code>%IIOPNet%\CLSToIDLGenerator\GeneratorMappingPluginSchema.xsd</code>.

<BR><BR>
Example:
<pre>
    &lt;?xml version='1.0'?&gt;
    &lt;generatorMappings&gt;

        &lt;mapping&gt;
            &lt;clsType&gt;System.Collections.ArrayList,mscorlib&lt;clsType&gt;
            &lt;idlTypeName&gt;java.util.ArrayList&lt;idlTypeName&gt;
            &lt;idlTypeAssembly&gt;javaCollections&lt;idlTypeAssembly&gt;
            &lt;idlFile&gt;java\util\ArrayList.idl&lt;idlFile&gt;
        &lt;mapping&gt;

     &lt;generatorMappings&gt;
</pre>
<p/>

Use mapping file with generator
<BR><BR>
The CLS to IDL generator needs to replace the CLS type in the custom mapping with the target IDL type
in methods parameters, properties and fields within the generated IDL files.<BR>
The information, needed to accomplish this, is given to the generator with the <code>-c</code> option:
<BR>
<code>CLSIDLGenerator.exe -c mappingFile</code>

<p/>
Complete Example:
<BR><BR>
A complete example can be found in:<BR>
<code>%IIOPNet%\IntegrationTests\MappingPluginJavaAsClient</code>.

