<H2 class="contentPart">FAQ</H2>

<H3>Compatibility</H3>

<ol>
	<li><a href="#NET1.1">Does IIOP.NET work with Microsoft's .NET 1.1?</a>
	<li><a href="#mono">Does IIOP.NET work with mono?</a>
</ol>


<a name="NET1.1"></a>
<H3>Does IIOP.NET work with Microsoft's .NET 1.1?</H3>

Yes, it does. This is in fact the platform it was developed on.

<a name="mono"></a>
<H3>Does IIOP.NET work with mono?</H3>

Currently (mono 0.24) not. This is due to the incomplete remoting implementation of mono. We hope this will change in the future.

