<H2 class="contentPart">FAQ: Platform Compatibility</H2>

<ol>
    <li><a href="faq2.html#NET1.1">Does IIOP.NET work with Microsoft's .NET 1.1?</a></li>
    <li><a href="faq2.html#CompactNET">Does IIOP.NET work with Microsoft's Windows CE .NET (Compact Framework)?</a></li>
    <li><a href="faq2.html#intellisense">Does IIOP.NET support Visual Studio's Intellisense?</a></li>
    <li><a href="faq2.html#mono">Does IIOP.NET work with mono?</a></li>        
</ol>

<H2 class="contentPart">FAQ: ORB Compatibility</H2>

<ol START="5">
    <li><a href="faq2.html#WebLogic6">Can IIOP.NET interoperate with BEA WebLogic 6.1?</a></li>
    <li><a href="faq2.html#WebLogic8">Can IIOP.NET interoperate with BEA WebLogic 8.1?</a></li>
    <li><a href="faq2.html#Websphere4">Can IIOP.NET interoperate with IBM Websphere 4.0?</a></li>
    <li><a href="faq2.html#Websphere5">Can IIOP.NET interoperate with IBM Websphere 5.0?</a></li>
    <li><a href="faq2.html#JBoss32">Can IIOP.NET interoperate with JBoss 3.2?</a></li>
</ol>

<H2 class="contentPart">FAQ: Configuration</H2>

<ol START="10">
    <li><a href="faq2.html#mainConfig">Can the IIOP.NET sources be compiled without any configuration?</a></li>
    <li><a href="faq2.html#fileConfig">Can the IIOP.NET channel be configured with a config-file?</a></li>
    <li><a href="faq2.html#NUnit2Config">How do I configure NUnit V2.0 to use the .NET Framework 1.1?</a></li>
</ol>

<H2 class="contentPart">FAQ: Usage</H2>

<ol START="13">
    <li><a href="faq2.html#idltocls">How do I use the IDLToCLSCompiler?</a></li>
    <li><a href="faq2.html#debug">How do I configure IIOP.NET to generate debug information?</a></li>
</ol>

<H2 class="contentPart">FAQ: Accessing CORBA objects from IIOP.NET</H2>

<ol START="15">
    <li><a href="faq2.html#stringifiedIOR">How can I access an object using its stringified IOR?</a></li>
    <li><a href="faq2.html#corbaLocIIOP">How can I access an object using its corbaloc:iiop address?</a></li>
    <li><a href="faq2.html#callback">How do I implement a callback?</a></li>
</ol>

<H2 class="contentPart">FAQ: Frequent Errors (Troubleshooting)</H2>

<ol START="18">
    <li><a href="faq2.html#PInvokeException">Exception: Invalid PInvoke metadata format</a></li>
    <li><a href="faq2.html#NoImplementException">CORBA Exception: No_Implement (minor-code = 1)</a></li>
    <li><a href="faq2.html#1414">CORBA system exception, completed: Completed_MayBe minor: 1414</a></li>
    <li><a href="faq2.html#codeset">omg.org.CORBA.CODESET_INCOMPATIBLE: CORBA system exception, completed: Completed_No minor: 9501</a></li>
</ol>

