<H2 class="contentPart">FAQ</H2>

<H3>Compatibility</H3>

<ol>
    <li><a href="#NET1.1">Does IIOP.NET work with Microsoft's .NET 1.1?</a></li>
    <li><a href="#mono">Does IIOP.NET work with mono?</a></li>        
</ol>

<H3>ORB Compatibility</H3>

<ol START="3">
    <li><a href="#WebLogic6">Can IIOP.NET ineroperate with BEA WebLogic 6.1?</a></li>
    <li><a href="#Websphere4">Can IIOP.NET interoperate with IBM Websphere 4.0?</a></li>
    <li><a href="#Websphere5">Can IIOP.NET interoperate with IBM Websphere 5.0?</a></li>
    <li><a href="#JBoss32">Can IIOP.NET interoperate with JBoss 3.2?</a></li>
</ol>

<H3>Configuration</H3>

<ol START="7">
    <li><a href="#fileConfig">Can the IIOP.NET channel be configured with a config-file?</a></li>
</ol>


<a name="NET1.1"></a>
<H3>Does IIOP.NET work with Microsoft's .NET 1.1?</H3>

Yes, it does. This is in fact the platform it was developed on.

<a name="mono"></a>
<H3>Does IIOP.NET work with mono?</H3>

Currently (mono 0.24) not. This is due to the incomplete remoting implementation of mono. We hope this will change in the future.


<a name="WebLogic6"></a>
<H3>Can IIOP.NET ineroperate with BEA WebLogic 6.1?</H3>

Yes, it can.
Some hints are provided in the <a href="ejbInterop.html">EJB example tutorial</a> and in 
the <a href="weblogic6_1.html">WebLogic 6.1 interoperation howto</a>.


<a name="Websphere4"></a>
<H3>Can IIOP.NET ineroperate with IBM Websphere 4?</H3>

Yes, it can.
Some hints are provided in the <a href="websphere4.html">Websphere 4 interoperation howto</a>.

<a name="Websphere5"></a>
<H3>Can IIOP.NET ineroperate with IBM Websphere 5?</H3>

Yes, it can.
Some hints are provided in the <a href="websphere5.html">Websphere 5 interoperation howto</a>.

<a name="JBoss32"></a>
<H3>Can IIOP.NET ineroperate with JBoss 3.2?</H3>

Yes, it can.
Some hints are provided in the <a href="jboss3_2.html">JBoss 3.2 interoperation howto</a>.

<a name="fileConfig"></a>
<H3>Can the IIOP.NET channel be configured with a config-file?</H3>
Yes, it can. <BR> <BR>
Example:
<BR>

The following config file 

<pre>
    &lt;configuration&gt;
      &lt;system.runtime.remoting&gt;
        &lt;application&gt;
          &lt;channels&gt;
            &lt;channel type="Ch.Elca.Iiop.IiopChannel,IiopChannel" port="8087"/&gt;
          &lt;/channels&gt;
        &lt;/application&gt;
      &lt;/system.runtime.remoting&gt;
    &lt;/configuration&gt;
</pre>
<p/>

is equivalent to the following:

<pre>
    // register the channel
    IiopChannel chan = new IiopChannel(8087);
    ChannelServices.RegisterChannel(chan);

</pre>
<p/>

The config file is processed with: <BR>
<pre>
    RemotingConfiguration.Configure(configFile);
</pre>






