  <!-- content end -->
  </TD>
  <TD BGCOLOR="#000000"></TD>
  <TD COLSPAN="2" ROWSPAN="4" STYLE="padding-top: 15px; padding-right: 8 px; padding-left: 8px" width="208">
  <!-- about begin -->
<H2 class="ABOUT">About this project</H2>
<p/>
<B>This project</B> is maintained by <A target="_blank" class="textLink" href="http://www.elca.ch">Elca Informatique SA</A> and
 was developed in collaboration with
the <A target="_blank" class="textLink" href="http://www.cs.inf.ethz.ch/gutknecht/index.html">Programming Languages and Runtime Systems Research Group</A> of the ETH-Zurich
as part of Dominic Ullmann's diploma thesis.
<p/>
<A target="_blank" href="http://www.elca.ch"><img src="images/iiop_logo_elca.gif" border="0"/></A>
<A target="_blank" href="http://www.ethz.ch"><img src="images/iiop_logo_eth.gif" border="0"/></A>
  <!-- about end -->
  </TD>
  <TD bgcolor="#666633"></TD>
  <TD BGCOLOR="#CCCC99"></TD>
  </TR>
<!--Line 5 -->
<TR>
  <TD width="0" height="121"></TD>
  <!-- rowspan -->
  <TD height="121"></TD>
  <!-- rowspan --> 
  <!-- rowspan --> 
  <TD BGCOLOR="#000000"></TD>
  <!-- rowspan -->
  <!-- rowspan -->
  <TD bgcolor="#666633"></TD>
  <TD BGCOLOR="#CCCC99" height="121px"><IMG src="images/iiop_border_right1.gif"/></TD>
</TR>
<!--Line 6 -->
<TR>
  <TD width="0" height="323"></TD>
  <TD BGCOLOR="#CC3300"></TD>
  <TD></TD>
  <!-- rowspan -->
  <!-- rowspan -->
  <TD BGCOLOR="#000000"></TD>
  <!-- rowspan -->
  <!-- rowspan -->
  <TD BGCOLOR="#CCCC99"></TD>
  <TD BGCOLOR="#CCCC99" height="323px"><IMG src="images/iiop_border_right2.gif"/></TD>
</TR>
<!--Line 7: extension row -->
<TR>
  <TD width="0"></TD>
  <TD BGCOLOR="#CC3300"></TD>
  <TD>&nbsp;</TD>
  <!-- rowspan -->
  <!-- rowspan -->
  <TD BGCOLOR="#000000"></TD>
  <!-- rowspan -->
  <!-- rowspan -->
  <TD BGCOLOR="#CCCC99"></TD>
  <TD BGCOLOR="#CCCC99"></TD>
</TR>
<!--Line 8 -->
<TR>
  <TD width="0" height="60"></TD>
  <TD BGCOLOR="#CC3300"></TD>
  <TD></TD>
  <TD COLSPAN="2" STYLE="padding-top: 20px;">
<!-- Disclaimer -->
&copy; 2003 ELCA All Rights Reserved
<!-- Disclaimer -->
  </TD>
  <TD COLSPAN="3"></TD>
  <TD BGCOLOR="#CCCC99"></TD>
  <TD BGCOLOR="#CCCC99" height="60px"></TD>
</TR>
</TABLE>

</BODY>
</HTML>