<H2 class="contentPart">Links</H2>

<p/>
<b>CORBA</b>
<BR><BR>
<A target="_blank" href="http://www.omg.org">OMG</A>
<BR>
<A target="_blank" href="http://www.omg.org/cgi-bin/doc?formal/99-10-07">CORBA/IIOP Specification 2.3.1</A>
<p/>

<b>.NET</b>
<BR><BR>
<A target="_blank" href="http://msdn.microsoft.com/netframework/">.NET Framework</A>
<BR>
<A target="_blank" href="http://msdn.microsoft.com/library/default.asp?url=/library/en-us/cpguide/html/cpconnetremotingoverview.asp">
.NET Remoting overview</A>

<p/>
<b>RMI/IIOP</b>
<BR><BR>
<A target="_blank" href="http://java.sun.com/products/rmi-iiop/">RMI/IIOP Home Page</A>

<p/>
<b>Similar projects</b>
<BR> <BR>
<A target="_blank" href="http://remoting-corba.sourceforge.net/">Remoting.CORBA</A>
<BR> <BR>
<A target="_blank" href="http://www.borland.com/janeva/">Borland Janeva</A>

<p/>
<b>Project Environment</b>
<BR>
<BR>

<A target="_blank" href="http://www.elca.ch">ELCA</A>
<BR>
<A target="_blank" href="http://www.elca.ch/Home/Solutions/Technology_Frameworks/LEAF/index.php">LEAF</A>
<BR>
<BR>
<A target="_blank" href="http://www.ethz.ch">ETH</A>
<BR>
<A target="_blank" href="http://www.cs.inf.ethz.ch/gutknecht/index.html">Programming Languages and Runtime Systems Research Group</A>
  