<H2 class="contentPart">Project status</H2>

<p/>

<b>Current release</b>

<p/>
IIOP.NET allows a seamless interoperation between .NET, CORBA and J2EE distributed objects. Components on each platform can act
either in client or server role.

<p/>
<b>CORBA version</b>
<p/>

IIOP.NET is based on CORBA 2.3.1.<BR>
Only the parts of the specification related to interoperability are implemented. 

<p/>
<b>GIOP Protocol</b>
<p/>
IIOP.NET supports the following protocols:<BR>
IIOP/GIOP 1.0, 1.1, 1.2
<p/>
The following protocol parts are not supported:
<UL>
<LI>Message types other than request, reply, fragment (LocateRequest / LocateReply are partly supported)</LI>
<LI>Bidirectional GIOP</LI>
</UL>
<p/>
<b>Supported types</b>
<p/>
<b>CLS</b>

<p>All but the following types are supported:
<UL>
<LI>some kinds of enums, including flags</LI>
<LI>Delegates</LI>
<LI>Events</LI>
<LI>System.IntPtr</LI>
<LI>System.Decimal</LI>
</UL>
<p/>

<b>IDL</b>

<p>All but the following types are supported:
<UL>
<LI>Array</LI>
<LI>Long double</LI>
<LI>Fixed</LI>
</UL>
<p>
More information can be found in the <a href="documentation.html">IDL <-> CLS specification</a>.

<p/>
<b>ORB Compatibility</b>

<p>
Interoperation with the following ORBs has been reported:
<UL>
<LI>SUN JDK 1.4 (RMI/IIOP)</LI>
<LI>MICO (in progress)</LI>
<LI>TAO (in progress)</LI>
<LI>OmniORB (in progress)</li>
</UL>

<p/>
Interoperation with J2EE applications is reported for the following application servers:
<UL>
<LI>IBM Websphere 4.0 (in progress)</LI>
<LI>IBM Websphere 5.0</LI>
<LI>JBOSS 3.0.6 (in progress)</LI>
<LI>JBOSS 3.2.1</LI>
<LI>BEA Weblogic 6.1</LI>
<LI>BEA Weblogic 8.1 (in progress)</LI>
</UL>


<H2 class="contentPart">Next steps</H2>

<p/>
<UL>
<LI>Test more ORBs</LI>
<LI>Advancing channel, tools</LI>
<LI>Consolidation (better installation tools, binary release)
</UL>
